{{extend 'layout.html'}}&nbsp;<div class="center">
<br>
{{try:}}{{=H1(message)}}{{except:}}{{=BEAUTIFY(response._vars)}}{{pass}}
</div>
<div class="left">
<br>
<h2>Welcome to CyNote, {{=name}}</h2>
<br>
[ <a target="_blank" title="About CyNote" href="http://maurice.vodien.com/portfolio/RprojCyNote.html">
About CyNote</a> ]
[ <a href="http://{{=request.env.http_host}}/{{=request.application}}/default/index"> 
Main Menu</a> ]
[ <a href="http://{{=request.env.http_host}}/{{=request.application}}/account/log_out"> 
Logout</a> ]
<br>
{{for tab in tab_list.keys():}}
[ <a href="http://{{=request.env.http_host}}/{{=request.application}}/{{=tab[0]}}/{{=tab[1]}}">
{{=tab_list[tab]}}</a> ]
{{pass}}
<br><br>

<!-- BEGINNING OF SUB-MENU-->
[ <!--a href="http://{{=request.env.http_host}}/{{=request.application}}/assistants/cynote_tutor" -->
CyNote Tutor</a> ]
Tutorial on the use of CyNote<br><br>

[ <!--a href="http://{{=request.env.http_host}}/{{=request.application}}/assistants/choose_statistics" -->
Choosing Statistical Tests</a> ]
Guide to choose appropriate statistical test(s)<br>
<!-- END OF SUB-MENU-->


<hr style="width: 100%; height: 2px;">
<p>Copyright (c) {{=copyright['year']}} <a href="http://maurice.vodien.com">{{=copyright['director']}}</a>, 
on behalf of
<a target="_blank" title="CyNote @ SourceForge" href="http://cynote.sourceforge.net">CyNote Development Team</a><br><br>
{{=copyright['license']}}
</p>
<hr style="width: 100%; height: 2px;">
</div>
