{{extend 'layout.html'}}&nbsp;<div class="center">
<br>
{{try:}}{{=H1(message)}}{{except:}}{{=BEAUTIFY(response._vars)}}{{pass}}
</div>
<div class="left">
<br>
<h2>Welcome to CyNote, {{=name}}</h2>
<br>
[ <a target="_blank" title="About CyNote" href="http://maurice.vodien.com/portfolio/RprojCyNote.html">
About CyNote</a> ]
[ <a href="http://{{=request.env.http_host}}/{{=request.application}}/account/log_out"> 
Logout</a> ]
<br>
{{for tab in tab_list:}}
[ <a href="http://{{=request.env.http_host}}/{{=request.application}}/{{=tab['module']}}/{{=tab['function']}}">
{{=tab['name']}}</a> ]
{{pass}}
<br><br>

[ <a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/new_entry">
Create New Notebook Entry</a> ] 
Create a new entry in one of the existing notebooks<br><br>

[ <a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/new_notebook">
Create New Notebook</a> ] 
Create a new notebook to hold entries as every entry must be part of a notebook<br><br>

[ <a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/entries">
List Entries by Notebook</a> ] 
[ <a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/archived_entries">
List Archived Entries by Notebook</a> ] Show a list of entries for a particular notebook (Table of Contents)<br><br>

[ <a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/notarize_bymanual">
Notarize an Entry</a> ]
Signing off a single entry as an individual<br><br>

[ <a href="http://{{=request.env.http_host}}/{{=request.application}}/savedatabase/online">
Backup Notebooks</a> ] 
Allows for backup of notebooks as separate files and to remote FTP sites<br><br>

[ <a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/archive_notebook">
Archive Notebook(s)</a> ]
Set notebook(s) for archiving<br><br>

[ <a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/unarchive_notebook">
Un-Archive Notebook(s)</a> ]
Release previously archived notebook(s) for use<br><br>

[ <a href="http://{{=request.env.http_host}}/{{=request.application}}/account/auth_new_user"> 
Authorize User(s)</a> ]
Authorize newly signed-up user(s)<br><br>

[ <a href="http://{{=request.env.http_host}}/{{=request.application}}/account/deauth_user"> 
De-authorize User(s)</a> ]
De-authorize user(s) without removing the account<br><br>

[ <a href="http://{{=request.env.http_host}}/{{=request.application}}/account/change_password">
Change Password</a> ] Change password for any account<br><br>

[ <a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/generate_hash">
Generate Digital Signature</a> ] Generate a unique number for each of the 
existing entries and comments<br><br>

[ <a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/generate_hash">
NTP Stamp</a> ] Stamping / Notarizing log files with global Network Time 
Protocol (NTP) servers

</p>

</p>

</p>


<hr style="width: 100%; height: 2px;">
<p>Copyright (c) 2008-2010 <a href="http://maurice.vodien.com">Maurice Ling</a>, 
on behalf of
<a target="_blank" title="CyNote @ SourceForge" href="http://cynote.sourceforge.net">CyNote Development Team</a><br><br>
CyNote is free software: you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version. This program is distributed in the hope that
it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See
the GNU General Public License for more details. You should have
received a copy of the GNU General Public License along with this
program. If not, see http://www.gnu.org/licenses</p><hr style="width: 100%; height: 2px;"><p><br></p>
</div>
