{{extend 'layout.html'}}
[<a href="http://{{=request.env.http_host}}/{{=request.application}}/default/index"> 
Back to Menu </a>|
<a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/new_entry"> 
Create New Entry </a>|
<a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/new_notebook"> 
Create New Notebook </a>|
<a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/entries"> 
List all Entries </a>|
<a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/notarize_bymanual"> 
Notarize an Entry </a>|
<a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/results"> 
Show all Results </a>]

<h1>Authorize New User(s) Form<br></h1>

<br>
<h2>List of Authorized Users</h2><br><br>
Click on the checkbox to de-authorize user(s), but the user will not be removed from the system.<br> 
You can reverse this by re-authorizing the user(s)<br>
{{=BEAUTIFY(form)}}
