{{extend 'layout.html'}}
[<a href="http://{{=request.env.http_host}}/{{=request.application}}/default/index"> 
Back to Menu </a>|
<a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/new_entry"> 
Create New Entry </a>|
<a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/new_notebook"> 
Create New Notebook </a>|
<a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/entries"> 
List all Entries </a>|
<a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/notarize_bymanual"> 
Notarize an Entry </a>|
<a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/results"> 
Show all Results </a>]
<h1>Create a New Research Data Table</h1>
This form creates a new ad hoc data table for research data. <br>
Columns in the table are defined in the &quot;Column Definition&quot;.<br>
Each column definition is delimited by a comma and each column name must not have a space. 
For example, "<font face="Courier">identifier code</font>" is NOT allowed but "<font face="Courier">identifier_code</font>" is allowed.<br>
To define a table with 2 columns - identifier code and name, the following can be used as table definition: 
<font face="Courier">identifier_code, name </font>
<br>
<br>
{{=form}}
