{{extend 'layout.html'}}
[<a href="http://{{=request.env.http_host}}/{{=request.application}}/default/index"> 
Back to Menu </a>|
<a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/new_entry"> 
Create New Entry </a>|
<a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/new_notebook"> 
Create New Notebook </a>|
<a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/entries"> 
List all Entries </a>|
<a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/notarize_bymanual"> 
Notarize an Entry </a>|
<a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/results"> 
Show all Results </a>]
<br>
<h1>Single Sample Statistics Results<br></h1>
<h3>Data: {{=result['data']}}</h3>
<br><br>
<h2>Statistics:</h2>
<br>
<b>Arithmetic Mean: </b> {{=result['results']['aMean']}}<br><br>
<b>Geometric Mean: </b> {{=result['results']['gMean']}}<br><br>
<b>Harmonic Mean: </b> {{=result['results']['hMean']}}<br><br>
<b>Kurtosis: </b> {{=result['results']['kurtosis']}}<br><br>
<b>Skew: </b> {{=result['results']['skew']}}<br><br>
<b>Median: </b> {{=result['results']['median']}}<br><br>
<b>Range: </b> {{=result['results']['range']}}<br><br>
<b>Standard Deviation: </b> {{=result['results']['stdev']}}<br><br>
<b>Variance: </b> {{=result['results']['variance']}}<br><br>
