{{extend 'layout.html'}}
[<a href="http://{{=request.env.http_host}}/{{=request.application}}/default/index"> 
Back to Menu </a>|
<a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/new_entry"> 
Create New Entry </a>|
<a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/new_notebook"> 
Create New Notebook </a>|
<a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/entries"> 
List all Entries </a>|
<a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/notarize_bymanual"> 
Notarize an Entry </a>|
<a href="http://{{=request.env.http_host}}/{{=request.application}}/cynote/results"> 
Show all Results </a>]
<br>
<h1>2 x 2 Contingency Table Results<br></h1>
<h3>Data: </h3>
<table border="1" width="75%" style="border-width: 0px">
	<tr>
		<td width="34%" style="border-style: none; border-width: medium">&nbsp;</td>
		<td width="33%" style="border-left-style: none; border-left-width: medium; border-right-style: none; border-right-width: medium; border-top-style: none; border-top-width: medium" align="center">
		<b>{{=result['outcome1']}}</b></td>
		<td style="border-left-style: none; border-left-width: medium; border-right-style: none; border-right-width: medium; border-top-style: none; border-top-width: medium" align="center">
		<b>{{=result['outcome2']}}</b></td>
	</tr>
	<tr>
		<td width="34%" style="border-left-style: none; border-left-width: medium; border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium" align="right">
		<b>{{=result['group1']}}</b></td>
		<td width="33%" style="border-style: solid; border-width: 1px" align="center">{{=result['o1g1']}}</td>
		<td style="border-style: solid; border-width: 1px" align="center">{{=result['o2g1']}}</td>
	</tr>
	<tr>
		<td width="34%" style="border-left-style: none; border-left-width: medium; border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium" align="right">
		<b>{{=result['group2']}}</b></td>
		<td width="33%" style="border-style: solid; border-width: 1px" align="center">{{=result['o1g2']}}</td>
		<td style="border-style: solid; border-width: 1px" align="center">{{=result['o2g2']}}</td>
	</tr>
</table><br><b>Analysis: </b>{{=result['analysis']}}
<p>&nbsp;</p>
<h2>Statistics:</h2>
<br>
{{if result['analysis'] == 'Z test - Correlated Proportions':}}<b>p-value: </b>{{=result['value']}}{{pass}}
{{if result['analysis'] == "Chi-square test with Yate's correction":}}<b>p-value: </b>{{=result['value']}}{{pass}}
{{if result['analysis'] == "Chi-square test without Yate's correction":}}<b>p-value: </b>{{=result['value']}}{{pass}}
{{if result['analysis'] == "McNemar's test with Yate's correction":}}<b>p-value: </b>{{=result['value']}}{{pass}}
{{if result['analysis'] == "McNemar's test without Yate's correction":}}<b>p-value: </b>{{=result['value']}}{{pass}}
{{if result['analysis'] == 'P1 - P2':}}<b>P1 - P2: </b>{{=result['value']}}{{pass}}
{{if result['analysis'] == 'Relative Risk':}}<b>Relative Risk: </b>{{=result['value']}}{{pass}}
{{if result['analysis'] == 'Odds Ratio':}}<b>Odds Ratio: </b>{{=result['value']}}{{pass}}
<br><br>
<b>Phi Correlation Coefficient: </b>{{=result['phi']}}
<br>